@font-face{
	font-family: "Gerstner-ProgrammMedium-Compacted";
	src: url("assets/fonts/Gerstner-Programm-Medium.otf") format("opentype");
}
/* 44 * 18 = 792px */
/* 44 * 16 = 704px */
/* 24 * 16 = 384px */
html{ 
	--ts-1: 18px; 
	--ts-2: 12px;
	  --cp: 15px; 
}
@media all and (max-width: 44em) { 
	html{ 
		--ts-1: 16px;
		--ts-2: 11px;
		  --cp: 14px;
	} 
}
@media all and (max-width: 24em) { 
	html{
		--ts-1: 14px; 
		--ts-2: 10px;
		  --cp: 12px;
	} 
}
html{
	font-size: var(--ts-1);
	scroll-behavior: smooth;
	overscroll-behavior-x: contain; /* prevent browser back & forward behavior */
}
body{
	font-family: "Gerstner-ProgrammMedium-Compacted";
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	line-height: 1.2;
}

/* ul tree */
ul > li {
	position: relative;
	padding-left: 1em;
}
ul > li:before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0.1em;
	border-left: 1px solid;
}
ul > li:last-child:before {
	border-left: 0;
}
ul > li > p:before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0.1em;
	width: 1.5ex;
	height: 1em;
	border-bottom: 1px solid;
	border-left: 1px solid;
}

/* carousel */
header, section{
	display: flex;
	width: 100%;
	padding: 0 var(--cp) 0 var(--cp);
	column-gap: var(--cp);
	overflow-x: auto;
}
section:last-of-type { padding-bottom: var(--cp); }

/* carousel slides */
figure{
/*	flex: none;*/
	flex-shrink: 0;
	max-width: calc(100vw - 3.6em);
}
figcaption{
	font-size: var(--ts-2);
	line-height: var(--cp);
	font-variant-numeric: tabular-nums;
}
.t-cont{
	padding: 0.8em 1em;
	max-width: 40em;
	word-wrap: break-word;
	hyphens: none;
}
.i-cont, .if-cont, img{
	width: auto;
	height: min(50vh, 50vw);
}
@media all and (max-width: 48em) { 
	.t-cont{
		max-width: calc(100vw - 3.6em);
	}
	.i-cont, .if-cont, img{
		width: calc(100vw - 3.6em);
		height: auto;
	}
}
.ar16-9{ aspect-ratio: 16 / 9; }
.ar4-5 { aspect-ratio: 4 / 5; }
.ar216-125{ aspect-ratio: 216 / 125; }
img, iframe{ display: block; }
iframe{ border: 0; }


/* slides color */
header > figure > .t-cont { background-color: #ddd; }
section > figure > .t-cont{ background-color: #000; color: #fff; }


/* type styling */
sup{
	font-size: var(--ts-2);
	padding-left: 2px;
	vertical-align: text-top;
	font-variant-numeric: tabular-nums;
}
.tn{ font-variant-numeric: tabular-nums; }
.df{ font-variant-numeric: diagonal-fractions; }
a{
	color: inherit;
	text-decoration: underline;
	word-break: break-all;
}
a.noline{ text-decoration: none; }
