:root{
  --font-size-1: 20px;
  --font-size-2: 16px;
}
*, * :before{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face{
	font-family: Gerstner-ProgrammMedium;
	src: url("assets/font/Gerstner-Programm-Medium.otf") format("opentype");
}
html * {
	-webkit-text-size-adjust: 100%; 
	   -moz-text-size-adjust: 100%; 
	    -ms-text-size-adjust: 100%; 
	        text-size-adjust: 100%
}
html {
	scroll-behavior: smooth;
}

body{
	font-size: var(--font-size-1); 
	font-family: Gerstner-ProgrammMedium, sans-serif;
	line-height: 1.2;
}

html, body{ 
	font-size: var(--font-size-1); 
}
@media all and (max-width: 34em) { 
	html, body{ font-size: var(--font-size-2); } 
}


body{
	padding: 0.5em 1em;
}

section, article{
	max-width: 34em;
	margin:auto;
	word-wrap: break-word;
	hyphens: none;
	margin-bottom: 2em;
}

section[class="wide"]{
	max-width: 54em;
/*	outline:1px solid red;*/
}
section[class="wide"] h2, section[class="wide"] p{
	max-width: 34em;
	margin:auto;
	margin-bottom: 0.15em;
}

div[class="wide-div"]{
	margin:0.2em 0;
	height:30em;
	width:100%;
/*	outline:thin solid;*/
	background-color: black;
}

ul{
	margin:0 0 0 2px;
	padding:0;
}
ul > li{
	padding-left: 1em;
}

ul > li{
	background-image: url('assets/images/lineLeft.png');
	background-size: 1px calc(1em - 4px);
	background-repeat: repeat-y;
}
ul > li:last-child{
	background-repeat: no-repeat;
	background-position: top left;
}
ul > li:before{
	content: "";
	background-image: url('assets/images/arrowRight.svg');
	background-color: white;
	background-repeat: repeat-y;
	background-size: 1em 1em;
	width:1em;
	height:1em;
	position: absolute;
  margin-left: calc(1em * -1);
}

@media all and (max-width: 34em) { 
	ul{
		margin:0 0 0 1px;
	}
	ul > li{
		background-image: url('assets/images/lineLeft16.png');
	}
	ul > li:before{
		content: "";
		background-image: url('assets/images/arrowRight16.svg');
	}
}



table{
	margin:0.15em 0px 0.15em 0px;
	border-top: 1px solid #000;
}
table * { 
	text-align: left;
}
td, th{
	padding:0.1rem 0.3rem 0.15rem 0.3rem;
	border-bottom: 1px solid #000;
}
tr td:first-child{
	width:100%;
/*	text-align: right;*/
}
tr:first-child{
	border-top: 1px solid #000;
}
tr > :first-child{
	padding-left: 0;
}
tr > :last-child{
	padding-right: 0;
}



a{
	cursor:pointer;
	color:inherit;
	text-decoration: none;
}

a:after{
	content: "";
	background-image: url('assets/images/arrowDown.svg');
	background-repeat: no-repeat;
	background-size: 16px 17px;
	width:16px;
	height:17px;
	display: inline-block;
	margin-left:1px;
	transform: scaleY(-1.0);
}

a[class=local]:after{
	transform: scaleY(1.0);
	margin-bottom:-2px;
}

@media all and (max-width: 34em) { 
	a:after{
		background-image: url('assets/images/arrowDown16.svg');
		background-size: 13px 14px;
		width:13px;
		height:14px;
		margin-left:1px;
	}

	a[class=local]:after{
		transform: scaleY(1.0);
		margin-bottom:-2px;
	}

}



abbr{
	text-decoration: none;
}
sup, sub{
	font-size: 0.6em;
}
sub{
	vertical-align: baseline;
}



/* HOVERS */
table a:hover{
	background-color: inherit;
}
table[id='projects-table'] tr:has(td):hover{
	background-color: #d3d3d3;
}

li:has(> a){
	width:fit-content;
}
li:has(> a):hover{
	background-color: #d3d3d3;
}
li:has(> a):hover:before{
	background-color: transparent;
}
[onclick] { cursor: pointer; }




details > summary {
	list-style: none;
}
details > summary::-webkit-details-marker {
	display: none;
}

details summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

details summary:after{
	content:'►';
	display: inline-block;
	font-size: 0.9rem;
	margin-left: 0.1em;
}
details[open] summary:after{
	content:'▼';
}

.tabular-nums{
	font-variant-numeric: tabular-nums;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}