:root{
  --font-size-1: 20px;
  --font-size-2: 16px;
  --font-size-3: 15px;
  --font-size-4: 14px;
}
*, * :before{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face{
	font-family: Gerstner-ProgrammMedium;
	src: url("assets/font/Gerstner-Programm-Medium.otf") format("opentype");
}

/*@media all and (max-width: 1010px) { html{ font-size: var(--font-size-3); } } 
@media all and (max-width: 840px) { html{ font-size: var(--font-size-1); } }
@media all and (max-width: 620px) { html{ font-size: var(--font-size-2); } }
@media all and (max-width: 500px) { html{ font-size: var(--font-size-3); } }
@media all and (max-width: 395px) { html{ font-size: var(--font-size-4); } }*/
html * {
	-webkit-text-size-adjust: 100%; 
	   -moz-text-size-adjust: 100%; 
	    -ms-text-size-adjust: 100%; 
	        text-size-adjust: 100%
}
html {
	scroll-behavior: smooth;
}

body{
	font-size: var(--font-size-1); 
	font-family: Gerstner-ProgrammMedium, sans-serif;
	line-height: 1.2;
}

html, body{ font-size: var(--font-size-1); }
@media screen and (max-width: 36em) { 
	html, body{ font-size: var(--font-size-2); } 
}


body{
	padding: 0.5em 1em;
}

section, article{
	max-width: 34em;
	margin:auto;
	word-wrap: break-word;
	hyphens: none;
	margin-bottom: 2em;
}

section[class="wide"]{
	max-width: 54em;
/*	outline:1px solid red;*/
}
section[class="wide"] h2, section[class="wide"] p{
	max-width: 34em;
	margin:auto;
	margin-bottom: 0.15em;
}

div[class="wide-div"]{
	margin:0.2em 0;
	height:30em;
	width:100%;
/*	outline:thin solid;*/
	background-color: black;
}

/*ul[id="main"]{
	margin:0 0 0 3px;
	padding:0;
}
ul[id="main"] > li{
	padding-left: calc(var(--font-size-1) - 3px );
}

ul[id="main"] > li{
	background-image: url('assets/images/lineLeft.svg');
	background-size: 15px;
	background-repeat: repeat-y;
	background-position: left;
}
ul[id="main"] > li:last-child{
	background-repeat: no-repeat;
	background-position: top left;
}*/

ul{
	margin:0 0 0 2px;
	padding:0;
}
ul > li{
	padding-left: 1em;
}

ul > li{
	background-image: url('assets/images/lineLeft.png');
	background-size: 1px 17px;
	background-repeat: repeat-y;
}
ul > li:last-child{
	background-repeat: no-repeat;
	background-position: top left;
}
ul > li:before{
	content: "";
	background-image: url('assets/images/arrowRight.svg');
	background-color: white;
	background-repeat: repeat-y;
	background-size: 20px 20px;
	width:20px;
	height:20px;
	position: absolute;
/*	margin-top: 4px;*/
  margin-left: calc(var(--font-size-1) * -1);
}




/*ul > li:before{
	content: "↲";
	display: inline-block;
	position: absolute;
	font-size: 0.9em;
	color:inherit;
	transform: scaleX(-1);
  margin-left: -1em;
}

ul[id="projects-list"] li{
	margin-bottom: 1em;
}

/*li:before{
	content: "→";
	display: inline-block;
	width:1em;
	color:inherit;
	float: left;
	text-align: center;
  margin-left: -1em;
}*/

/*.highlightindi, .highlight:before{
	color:gray;
}
.highlight:before{
	content: "↲";
	font-size: 0.9em;
	transform: scaleX(-1);
	float: left;
  margin-left: -1em;

  animation: blink 0.3s 2;
  -webkit-animation: blink 0.3s 3;
}
*/


table{
	margin:0.2em 0px 0.2em 0px;
/*	line-height: 1;*/
	border-top: 1px solid #000;
}
table * { 
	text-align: left;
}
td, th{
	padding:0.1rem 0.3rem 0.15rem 0.3rem;
	border-bottom: 1px solid #000;
}
tr td:first-child{
	width:100%;
/*	text-align: right;*/
}
tr:first-child{
	border-top: 1px solid #000;
}
tr > :first-child{
	padding-left: 0;
}
tr > :last-child{
	padding-right: 0;
}

.table-caption{
/*	margin-bottom: 0.2em;*/
}




@keyframes blink {
  50% {
    background-color:white;
    color:black;
  }
}

@-webkit-keyframes blink-animation {
  50% {
    background-color:white;
    color:black;
  }
}


a{
	cursor:pointer;
	color:inherit;
	text-decoration: none;
}

a:after{
	content: "";
	background-image: url('assets/images/arrowDown.svg');
	background-repeat: no-repeat;
	background-size: 16px 17px;
	width:16px;
	height:17px;
	display: inline-block;
	margin-left:1px;
/*	margin-right: 1px;*/
	transform: scaleY(-1.0);
}

a[class=local]:after{
	transform: scaleY(1.0);
	margin-bottom:-2px;
}

abbr{
	text-decoration: none;
}
sup, sub{
	font-size: 0.6em;
}
sub{
	vertical-align: baseline;
}
video{
	width:100%;
	display: block;
}


span[id="crossedout"]{
	display: inline-block;
	width:0.7em;
	height:0.7em;
	margin-right: 0.1em;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjMDAwMDAwJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nd2hpdGUnIHN0cm9rZS13aWR0aD0nMycvPgo8L3N2Zz4=");
  background-repeat: repeat;
  border: thin solid;
  filter: grayscale(100%);
}

/*article[id="metadata"] h2 span{
	display: inline-block;
	padding-left: 0.2em;
	font-size: 0.95em;
}*/


/* HOVERS */
table a:hover{
	background-color: inherit;
}
table[id='projects-table'] tr:has(td):hover{
	background-color: #d3d3d3;
}

li:has(> a){
	width:fit-content;
}
li:has(> a):hover{
	background-color: #d3d3d3;
}
li:has(> a):hover:before{
	background-color: transparent;
}
[onclick] { cursor: pointer; }



details > summary {
	list-style: none;
}
details > summary::-webkit-details-marker {
	display: none;
}

details summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}
/*details summary:after{
	content:'+';
	display: inline-block;
	font-size: 0.6em;
	width:1em;
	height:1em;
	vertical-align: 0.15em;
	margin-left: 0.3em;
	text-align: center;
	border: 0.05rem solid;
	line-height: 0.9;
}
details[open] summary:after{
	content:'−';
}*/

details summary:after{
	content:'►';
/*	font-family: sans-serif;*/
	display: inline-block;
	font-size: 0.9rem;
	margin-left: 0.1em;
}
details[open] summary:after{
	content:'▼';
}

.tabular-nums{
	font-variant-numeric: tabular-nums;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}