:root{
  --font-size-1: 20px;
  --font-size-2: 16px;

  --item: "click";
}
*, * :before{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face{
	font-family: Gerstner-ProgrammMedium;
	src: url("assets/font/Gerstner-Programm-Medium.otf") format("opentype");
}
html * {
	-webkit-text-size-adjust: 100%; 
	   -moz-text-size-adjust: 100%; 
	    -ms-text-size-adjust: 100%; 
	        text-size-adjust: 100%
}
html {
	scroll-behavior: smooth;
}
body{
	font-size: var(--font-size-1); 
	font-family: Gerstner-ProgrammMedium, sans-serif;
	line-height: 1.2;
}

html, body{ 
	font-size: var(--font-size-1); 
}
@media all and (max-width: 34em) { 
	html, body{ font-size: var(--font-size-2); } 
}


body{
	padding: 0.5em 1em;
}

section, article{
	max-width: 34em;
	margin:auto;
	word-wrap: break-word;
	hyphens: none;
	margin-bottom: 2em;
}

section[class="wide"]{
	max-width: 72em;
/*	outline:1px solid red;*/
}
section[class="wide"] h2, section[class="wide"] p{
	max-width: 34em;
	margin:auto;
}
div[class="wide-div"]{
	margin:0.15em 0;
	height:30em;
	width:100%;
/*	outline:thin solid;*/
	background-color: gainsboro;
}



/* LISTS */
ul{
	margin:0 0 0 2px;
	padding:0;
}
ul > li{
	padding-left: 1em;
}
ul > li{
	background-image: url('assets/images/lineLeft.png');
	background-size: 1px calc(1em - 4px);
	background-repeat: repeat-y;
}
ul > li:last-child{
	background-repeat: no-repeat;
	background-position: top left;
}
ul > li:before{
	content: "";
	background-image: url('assets/images/arrowRight.svg');
	background-color: white;
	background-repeat: no-repeat;
	background-size: 1em 1em;
	width:1em;
	height:1em;
	position: absolute;
  margin-left: calc(1em * -1);
}

@media all and (max-width: 34em) { 
	ul{
		margin:0 0 0 1px;
	}
	ul > li{
		background-image: url('assets/images/lineLeft16.png');
	}
	ul > li:before{
		content: "";
		background-image: url('assets/images/arrowRight16.svg');
		background-size: 16px 16px;
		width:16px;
		height:16px;
	}
}



/* TABLES */
table{
	margin:0.2em 0px;
	border-top: 1px solid #000;
}
table * { 
	text-align: left;
}
td, th{
	padding:0.1rem 0.3rem 0.2rem 0.3rem;
	border-bottom: 1px solid #000;
}
tr td:first-child{
	width:100%;
}
tr:first-child{
	border-top: 1px solid #000;
}
tr > :first-child{
	padding-left: 0;
}
tr > :last-child{
	padding-right: 0;
}

@media all and (max-width: 34em) { 
	table{
		margin:3px 0px;
	}
	td, th{
		padding:1px 5px 2px 5px;
	}
}



/* LINKS */
a{
	cursor:pointer;
	color:inherit;
	text-decoration: none;
}
/*a:after{
	content: "";
	background-image: url('assets/images/arrowDown.svg');
	background-repeat: no-repeat;
	background-size: 17px 17px;
	width:17px;
	height:17px;
	display: inline-block;
	transform: scaleY(-1.0);
}*/
/*a[class=local]:after{
	transform: scaleY(1.0);
	margin-bottom:-2px;
}*/
a:after, [item]:after{
	content: attr(item);
	font-size: 12px;
	padding-left: 17px;
	background-repeat: no-repeat;
	background-size: 17px 17px;
	width:auto;
	display: inline-block;
}
a[class=external]:after{
	vertical-align: 0px;
	padding-top: 8px;
	background-image: url('assets/images/arrowUp.svg');
	background-position: top 3px left;
	height: 12px;
}
a[class=local]:after, [item]:after{
	vertical-align: 8px;
	background-image: url('assets/images/arrowDown.svg');
	background-position: top 4px left;
	height: 22px;
}
@media all and (max-width: 34em) { 
	a:after, [item]:after{
		font-size: 9px;
		padding-left: 14px;
		background-size: 14px 14px;
	}
	a[class=external]:after{
		padding-top: 7px;
		background-image: url('assets/images/arrowUp16.svg');
		background-position: top 2px left;
		height: 9px;
	}
	a[class=local]:after, [item]:after{
		vertical-align: 6px;
/*		padding-top: 1px;*/
		background-image: url('assets/images/arrowDown16.svg');
		background-position: top 1px left;
		height:16px;
/*		background-color: red;*/
	}
}

a[class=local]:not([item]):after{
	content: "Below";
}
a[class=external]:not([item]):after{
	content: "Click";
}


/* HOVERS */
table a:hover{
	background-color: inherit;
}
table[id='projects-table'] tr:has(td):hover{
	background-color: #d3d3d3;
}
li:has(> a){
	width:fit-content;
}
li:has(> a):hover{
	background-color: #d3d3d3;
}
li:has(> a):hover:before{
	background-color: transparent;
}
[onclick] { cursor: pointer; }



/* DETAILS */
details > summary {
	list-style: none;
	width: fit-content;
}
details > summary::-webkit-details-marker {
	display: none;
}
details summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}
/*details summary:after{
	content:'►';
	display: inline-block;
	font-size: 0.9rem;
	margin-left: 0.1em;
}*/

/*details summary:after{
	vertical-align: 0.6em;
	font-size: 0.6em;
	padding-left: 17px;
	background-image: url('assets/images/arrowDown.svg');
	background-repeat: no-repeat;
	background-size: 17px 17px;
	background-position: top left;
	height: 17px;
	width:auto;
	display: inline-block;
}

details summary[item]:not([item=""]):after{
	content: attr(item);
}
details summary:not([item]):after{
	content: "Click";
}
	
}
details[open] summary:after{
	transform: scaleY(-1.0);
	margin-bottom:0px;
}*/



/* OTHER TEXT STYLINGS */
abbr{
	text-decoration: none;
}
span[class=sup]{
	font-size: 12px;
	vertical-align: 8px;
}
sup, sub{
	font-size: 12px;
}
@media all and (max-width: 34em) { 
	span[class=sup]{
		font-size: 9px;
		vertical-align: 6px;
	}
	sup, sub{
		font-size: 9px;
	}
}
sub{
	vertical-align: baseline;
}

.tabular-nums{
	font-variant-numeric: tabular-nums;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}