@font-face {
    font-family: 'Folio Std';
    src: url('FolioStd-Medium.woff2') format('woff2'),
        url('FolioStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}