/* 44 * 18 = 792px */
/* 44 * 16 = 704px */
/* 24 * 16 = 384px */
html{ 
	--ts-1: 18px; 
	--ts-2: 12px;
	  --cp: 15px; 
}
@media all and (max-width: 44em) { 
	html{ 
		--ts-1: 16px;
		--ts-2: 11px;
		  --cp: 14px;
	} 
}
@media all and (max-width: 24em) { 
	html{
		--ts-1: 14px; 
		--ts-2: 10px;
		  --cp: 12px;
	} 
}
html{
	font-size: var(--ts-1);
	scroll-behavior: smooth;
}
body{
	font-family: "gerstner_programmmedium";
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	line-height: 1.2;
	overscroll-behavior-x: none;
}

/* ul tree */
ul > li {
	position: relative;
	padding-left: 1rem;
}
ul > li:before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0.1rem;
	border-left: 1px solid;
}
ul > li:last-child:before {
	border-left: 0;
}
ul > li:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0.1rem;
	width: 1.5ex;
	height: calc(1rem - 1px);
	border-bottom: 1px solid;
	border-left: 1px solid;
}



/* carousel */
header, section{
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: 0 var(--cp) 0 var(--cp);
	column-gap: var(--cp);
	overflow-x: auto;
	scroll-behavior: smooth;
}
section:last-of-type { padding-bottom: var(--cp); }

/* carousel slides */
figure{
	flex: none;
}
figcaption{
	font-size: var(--ts-2);
	line-height: var(--cp);
	font-variant-numeric: tabular-nums;
	max-width: calc(100vw - 3.6rem);
}
.txt-c{
	padding: 0.8rem 1rem;
	max-width: min(35rem, 100vw - 3.6rem);
/*	word-wrap: break-word;*/
/*	hyphens: none;*/
}
.ifr-c, img{
	width: auto;
	height: min(50vh, 50vw);
}
@media all and (max-width: 48rem) { 
	.ifr-c, img{
		width: calc(100vw - 3.6rem);
		height: auto;
	}
}
.ar1-1 { aspect-ratio: 1 / 1; }
.ar4-5 { aspect-ratio: 4 / 5; }
.ar8-5 { aspect-ratio: 8 / 5; }
.ar16-9 { aspect-ratio: 16 / 9; }
.ar216-125{ aspect-ratio: 216 / 125; }
img, iframe{ display: block;}
iframe{ border: 0; }


/* slides color */
header > figure > .txt-c { background-color: #E1E3E5; }
section > figure > .txt-c{ background-color: #000; color: #fff; }


/* type styling */
sup{
	font-size: var(--ts-2);
	padding-left: 2px;
	vertical-align: text-top;
	font-variant-numeric: tabular-nums;
}
.nb{ white-space: nowrap; }
.tn{ font-variant-numeric: tabular-nums; }
.df{ font-variant-numeric: diagonal-fractions; }
.cs{
	-moz-font-feature-settings: 'case';
	-webkit-font-feature-settings: 'case';
	font-feature-settings: 'case' on;
}
a{
	color: inherit;
	text-decoration-line: underline;
	text-underline-position: from-font;
	word-wrap: break-word;
}
a.nl{
	text-decoration: none;
}