@font-face {
    font-family: 'gerstner_programmmedium';
    src: url('../fonts/gerstner-programm-medium-webfont.woff2') format('woff2'),
         url('../fonts/gerstner-programm-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}